{"banner_cn":{"app":{"l":0,"t":8,"clk":0,"ts":"73732157","clo":1,"cl":0,"ib":0},"rts":[{"uid":"e3d9a89600154126824c2a5dc0c81ff0","ty":2000,"n":"自动优化","w":100,"p":2,"k":"5dc8eb0ca17f4663b43dcd7f811fba95"}]},"banner_en":{"app":{"l":0,"t":8,"clk":0,"ts":"73732157","clo":1,"cl":0,"ib":0},"rts":[{"uid":"e3d9a89600154126824c2a5dc0c81ff0","ty":2000,"n":"自动优化","w":100,"p":2,"k":"5dc8eb0ca17f4663b43dcd7f811fba95"}]},"fullscreen_cn":{"app":{"l":0,"t":8,"clk":0,"ts":"73732157","cl":0,"ib":0,"insc":5},"rts":[]},"fullscreen_en":{"app":{"l":0,"t":8,"clk":0,"ts":"73732157","cl":0,"ib":0,"insc":5},"rts":[]},"offer_cn":{"app":{"l":0,"t":8,"clk":0,"ts":"73732157","ot":0,"cl":0,"ib":0},"rts":[]},"offer_en":{"app":{"l":0,"t":8,"clk":0,"ts":"73732157","ot":0,"cl":0,"ib":0},"rts":[]}}