<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syw.weiyu">

    <!-- Baidu LocSDK -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- RongIM -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 广点通 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/wy_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/WeiyuAppTheme" >

        <!-- AdMoGo MobAd -->
        <!-- 声明Mogo的Activity -->
        <activity
            android:name="com.syw.weiyu.av.WeiyuWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" />
        <!-- 注册Service，自主广告不交换广告的应用下载功能所需 -->
        <service android:name="com.syw.weiyu.controller.service.UpdateService"
                 android:exported="true"
                 android:process=":remote" />
        <!-- 注册Service，安装应用所用 -->
        <service android:name="com.syw.weiyu.controller.service.CountService"
                 android:exported="true"
                 android:process=":remote" />

        <!-- Baidu LocSDK -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mUv2tjv4ZdI06Enf9E6GEsZ6" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!--Baidu Mob Union-->
        <!--<meta-data android:name="BaiduMobAd_APP_ID" android:value="@string/baidu_mobad_appid" />-->
        <!--<meta-data android:name="BaiduMobAd_APP_SEC" android:value="@string/baidu_mobad_appid" />-->
        <activity android:name="com.baidu.mobads.AppActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation" />


        <!-- 广点通SDK 所需Service和Activity声明 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" >
        </service>
        <activity
            android:name="com.qq.e.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <!-- 启动页 -->
        <activity android:name=".ui.main.LauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity android:name=".ui.main.MainTabsActivity" />

        <!-- 附近 -->
        <activity android:name=".ui.main.explore.NearByUserActivity" />

        <!-- 消息列表 -->
        <activity android:name=".ui.main.SessionListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="com.syw.weiyu"
                        android:path="/conversationlist"
                        android:scheme="rong" />
            </intent-filter>
        </activity>
        <!--消息-->
        <activity android:name=".ui.main.SessionActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                        android:host="com.syw.weiyu"
                        android:pathPrefix="/conversation/"
                        android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 发现 -->
        <activity android:name=".ui.main.ExploreActivity" />

        <!-- 登录 -->
        <activity android:name=".ui.main.LoginActivity" />

        <!-- 修改资料 -->
        <activity android:name=".ui.user.ProfileActivity" />

        <!--关于信息-->
        <activity android:name=".ui.main.explore.AboutInfoActivity"/>

        <!--附近说说-->
        <activity android:name=".ui.main.ShuoshuoActivity"/>

        <!--说说详情-->
        <activity android:name=".ui.shuoshuo.ShuoshuoDetailActivity"/>

    </application>

</manifest>